:root.iv {
  --main-color: hsla(210, 30%, 25%, 1);
  --secondary-color: white;
  --interactive-color: hsla(153, 50%, 50%, 1);
  --interactive-color2: hsla(153, 50%, 40%, 1);
  --border-color: hsla(210, 20%, 80%, 1);
  --accent-color: hsla(20, 50%, 50%, 1);

  --font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

:root.iv.nightmode {
  --main-color: white;
  --secondary-color: hsla(210, 30%, 25%, 1);
  --interactive-color: hsla(153, 50%, 40%, 1);
  --interactive-color2: hsla(153, 50%, 50%, 1);
}
