:root.overcast {
  --main-color: hsla(24, 0%, 23%, 1);
  --secondary-color: hsla(25, 0%, 83%, 1);
  --interactive-color: hsla(231, 80%, 60%, 1);
  --interactive-color2: hsla(231, 78%, 69%, 1);
  --border-color: hsla(23, 0%, 10%, 1);
  --accent-color: hsl(25, 28%, 69%);

  --font-family: 'PT Serif', serif;
}

:root.overcast.nightmode {
  --main-color: hsla(25, 0%, 83%, 1);
  --secondary-color: hsla(24, 0%, 23%, 1);
  --interactive-color: hsla(231, 78%, 69%, 1);
  --interactive-color2: hsla(231, 80%, 60%, 1);
}
