:root.rust {
  --main-color: hsla(24, 15%, 23%, 1);
  --secondary-color: hsla(25, 63%, 83%, 1);
  --interactive-color: hsla(231, 78%, 69%, 1);
  --interactive-color2: hsla(231, 80%, 60%, 1);
  --border-color: hsla(23, 15%, 10%, 1);
  --accent-color: hsl(25, 78%, 69%);

  --font-family: 'PT Serif', serif;
}

:root.rust.nightmode {
  --main-color: hsla(25, 63%, 83%, 1);
  --secondary-color: hsla(24, 15%, 23%, 1);
  --interactive-color: hsla(231, 80%, 60%, 1);
  --interactive-color2: hsla(231, 78%, 69%, 1);
}
