:root.vampire {
  --main-color: hsl(0, 0%, 20%);
  --secondary-color: #f8f8f8;
  --interactive-color: hsl(0, 65%, 57%);
  --interactive-color2: hsl(0, 49%, 45%);
  --border-color: hsl(0, 18%, 79%);
  --accent-color: hsl(300, 30%, 63%);

  --font-family: 'PT Serif', serif;
}

:root.vampire.nightmode {
  --main-color: #f8f8f8;
  --secondary-color: hsl(0, 0%, 20%);
  --interactive-color: hsl(0, 65%, 57%);
  --interactive-color2: hsl(0, 49%, 45%);
}
