/* based on https://github.com/milligram/milligram */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

body {
  color: var(--main-color);
  background-color: var(--secondary-color);
  font-family: var(--font-family);
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: .01em;
  line-height: 1.6;
  text-decoration-skip: ink;

  padding: 1rem;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  letter-spacing: -.1rem;
  margin-bottom: 2.0rem;
  margin-top: 0;
}

h1 {
  font-size: 4.6rem;
  line-height: 1.2
}

h2 {
  font-size: 3.6rem;
  line-height: 1.25
}

h3 {
  font-size: 2.8rem;
  line-height: 1.3
}

h4 {
  font-size: 2.2rem;
  letter-spacing: -.08rem;
  line-height: 1.35
}

h5 {
  font-size: 1.8rem;
  letter-spacing: -.05rem;
  line-height: 1.5
}

h6 {
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 1.4
}

a {
  color: var(--interactive-color);
  text-decoration: none;
}

a:hover, a:focus {
  color: var(--interactive-color2);
  text-decoration: underline;
}

hr {
  border: 0;
  border-top: 0.1rem solid var(--accent-color);
  margin: 3.0rem 0;
}

button {
  color: var(--interactive-color);
  background-color: var(--secondary-color);
  border: 1px solid var(--border-color);
  cursor: pointer;
  border-radius: 2px;
}

button[disabled] {
  pointer-events: none;
  cursor: default;
}

button:focus, button:hover {
  outline: none;
  color: var(--interactive-color2);
}

.iv-inline {
  display: inline !important;
}
.iv-block {
  display: block !important;
}
.iv-t8n {
  transition: all 150ms linear;
}
