<template lang="pug">
div.cloakOfDarkness
  iv-story(theme="vampire", name="Cloak of Darkness", lang="en")
    iv-passage(:name="game.startFrom")
      p(v-if="game.history.length < 2").
        Hurrying through the rainswept November night, you’re glad to see the bright lights of the Opera House.
        It’s surprising that there aren’t more people about but, hey, what do you expect in a cheap demo game…?
      p.
        You are standing in a spacious hall, splendidly decorated in red and gold, with glittering chandeliers overhead.
        The entrance from the street is to the #[iv-note(text="You’ve only just arrived, and besides, the weather outside seems to be getting worse.") north],
        and there are doorways #[iv-link(to="Bar") south] and #[iv-link(to="Cloakroom") west].


    iv-passage(name="Bar", @onEnter="() => preferences.nightMode = player.hasCloak", @onLeave="() => preferences.nightMode = false")
      div(v-if="player.hasCloak")
        p The room completely submerged in #[iv-expand(text="darkness", type="replace", @onAct="() => player.hasStumbled = true") darkness. <br>And blundering around in the dark isn't a good idea].
        p
          iv-link(back) Return to foyer
      div(v-else)
        p The bar, much rougher than you'd have guessed after the opulence of the foyer to the north, is completely empty.
        p There seems to be some sort of #[iv-link(to="Message") message] scrawled in the sawdust on the floor.


    iv-passage(name="Message")
      div(v-if="player.hasStumbled")
        p The message has been carelessly trampled, making it difficult to read. You can just distinguish the words...
        h4 You have lost
      div(v-else)
        p The message, neatly marked in the sawdust, reads...
        h4 You have won


    iv-passage(name="Cloakroom")
      p.
        The walls of this small room were clearly once lined with hooks, though now #[iv-link(to="Hook") only one] remains.
        The exit is a door to the #[iv-link(to="Foyer") east].


    iv-passage(name="Hook")
      - var cloakDescription = 'A handsome cloak, of velvet trimmed with satin, and slightly spattered with raindrops. Its blackness is so deep that it almost seems to suck light from the room.'
      p.
        It's just a #[iv-action(@onAct="() => player.hasCloak = !player.hasCloak") small brass hook],
        #[span(v-if="player.hasCloak") screwed to the wall.]
        #[span(v-else) with #[iv-note(text=cloakDescription) cloak] hanging on it.]

      iv-link(to="Foyer") Return to foyer


  iv-preferences()
</template>

<script>
export default {
  name: 'CloakOfDarkness',
};
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=PT+Serif&subset=cyrillic');
</style>
