<template lang="pug">
a.iv-action(@click="onTouchEnd", :class="{inactive,}")
  slot
</template>

<script>
import {actable} from './mixins/actable';

export default {
  name: 'IvAction',

  mixins: [actable],

  methods: {
    onTouchEnd(event) {
      if (this.inactive) {
        return;
      }

      this.$emit('onAct', event);
    },
  },
};
</script>

<style scoped lang="scss">
.iv-action {
  cursor: pointer;

  &.inactive {
    cursor: inherit;
    text-decoration: inherit;
    color: inherit;
  }
}
</style>
