<template lang="pug">
span.iv-chosen(v-html="values[player[ckey]]")
</template>

<script type="text/babel">
export default {
  name: 'IvChosen',

  props: {
    ckey: {
      type: String,
      required: true,
    },

    values: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style scoped>
</style>
