<template lang="pug">
label.iv-checkbox(@click="onClick", :disabled="disabled")
  font-awesome-icon.iv-checkboxIcon(:icon="icon")
  | {{ label }}
</template>

<script>
import {faToggleOn, faToggleOff} from '@fortawesome/fontawesome-free-solid';
import {iconed} from './mixins/iconed';

export default {
  name: 'IvCheckbox',

  mixins: [iconed],

  props: {
    value: {
      type: Boolean,
      required: true,
    },

    label: {
      type: String,
      required: true,
    },

    disabled: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      val: this.value,
    };
  },

  computed: {
    icon() {
      return this.val ? faToggleOn : faToggleOff;
    },
  },

  methods: {
    onClick() {
      this.val = !this.val;
      this.$emit('input', this.val);
    },
  },
};
</script>

<style scoped lang="scss">
.iv-checkbox {
  &[disabled] {
    pointer-events: none;
    opacity: 0.7;
  }

  &Icon {
    margin-right: 1ex;
  }
}
</style>
