<template lang="pug">
a.iv-chooser(@click="onClick", v-html="entries[index][1]", role="button", :class="{ended, inactive, }")
</template>

<script>
import {disableable} from './mixins/disableable';

export default {
  name: 'IvChooser',

  mixins: [disableable],

  props: {
    ckey: {
      type: String,
      required: true,
    },

    values: {
      type: Object,
      required: true,
    },

    loop: {
      type: Boolean,
      default: true,
    },
  },

  data() {
    const index = 0;
    const entries = Object.entries(this.values);
    return {
      index,
      entries,
    };
  },

  computed: {
    ended() {
      return !this.loop && (this.index === this.entries.length - 1);
    },
  },

  mounted() {
    if (!this.player.hasOwnProperty(this.ckey)) {
      this.game.showError(
        `Player state doesn't have property "${this.ckey}", check relevant iv-chooser call.`
      );
    }

    this.setValue();
  },

  methods: {
    setValue() {
      this.player[this.ckey] = this.entries[this.index][0];
    },

    onClick() {
      if (this.inactive) {
        return;
      }

      let newIndex = this.index + 1;
      if (newIndex === this.entries.length) {
        if (this.loop) {
          newIndex = 0;
        } else {
          newIndex = this.entries.length - 1;
        }
      }

      this.index = newIndex;
      this.setValue();
    },
  },
};
</script>

<style scoped lang="scss">
.iv-chooser {
  cursor: pointer;

  &.ended,
  &.inactive {
    cursor: inherit;
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }
}
</style>
