<template lang="pug">
div.iv-chapter(:data-chapter="name", v-show="visible")
  h2(v-if="game.displayChapterName", v-text="name")
  slot
</template>

<script>
import {named} from './mixins/named';
import {themed} from './mixins/themed';

export default {
  name: 'IvChapter',

  mixins: [named, themed],

  computed: {
    visible() {
      return this.name === this.game.chapter;
    },
  },
};
</script>

<style scoped>

</style>
