<template lang="pug">
div.iv-delayed(:class="className")
  slot
</template>

<style lang="scss">
.iv-delayed {
  opacity: 0;

  &.revealed {
    opacity: 1;
  }
}
</style>

<script>
export default {
  name: 'IvDelayed',

  props: {
    after: {
      type: Number,
      required: true,
    },

    t8n: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      revealed: false,
      timeoutId: null,
    };
  },

  computed: {
    className() {
      return {
        revealed: this.revealed,
        'iv-t8n': !!this.t8n,
      };
    },
  },

  mounted() {
    this.timeoutId = setTimeout(() => {
      this.revealed = true;
      this.$emit('onAct');
    }, this.after);
  },

  beforeDestroy() {
    if (this.timeoutId !== null) {
      clearTimeout(this.timeoutId);
      this.timeoutId = null;
    }
  },
};
</script>
