<template lang="pug">
a.iv-expand(@click="expand", :class="{ expanded, inactive, }")
  template(v-if="type === 'pre'")
    slot(v-if="expanded")
    span.iv-text(v-if="textVisible") {{ text }}
  template(v-else)
    span.iv-text(v-if="textVisible") {{ text }}
    slot(v-if="expanded")
</template>

<style lang="scss">
.iv-expand {
  cursor: pointer;

  &.expanded,
  &.inactive {
    color: inherit;
    cursor: inherit;
    text-decoration: none;
  }
}
</style>

<script>
import {disableable} from './mixins/disableable';

const possibleTypes = [undefined, 'pre', 'replace', 'append'];

export default {
  name: 'IvExpand',

  mixins: [disableable],

  props: {
    type: {
      type: [String, undefined],
      validator(value) {
        return possibleTypes.includes(value);
      },
      default: undefined,
    },

    text: {
      type: String,
      required: true,
    },
  },

  data() {
    return {
      expanded: false,
    };
  },

  computed: {
    textVisible() {
      if (this.type === 'replace') {
        return !this.expanded;
      } else {
        return true;
      }
    },
  },

  methods: {
    expand(event) {
      if (this.inactive) {
        return;
      }

      if (!this.expanded) {
        this.$emit('onAct', event);
      }

      this.expanded = true;
    },
  },
};
</script>
