<template lang="pug">
a.iv-link(@click="onTouchEnd", :class="{inactive,}")
  slot
</template>

<script>
import {disableable} from './mixins/disableable';

export default {
  name: 'IvLink',

  mixins: [disableable],

  props: {
    to: {
      type: String,
      default: null,
    },

    back: {
      type: Boolean,
      default: undefined,
    },
  },

  methods: {
    onTouchEnd(event) {
      if (this.inactive) {
        return;
      }

      this.$emit('onAct', event);

      if (this.to === '::back' || this.back === true) {
        this.game.goBack();
      } else {
        this.game.goTo(this.to);
      }
    },
  },
};
</script>

<style scoped lang="scss">
.iv-link {
  cursor: pointer;

  &.inactive {
    cursor: inherit;
    text-decoration: inherit;
    color: inherit;
  }
}
</style>
