<template lang="pug">
span.iv-note(:class="{inactive, }", @mouseenter="onMouseEnter", @touchend.self="onTouchEnd")
  span.iv-note-content() {{ text }}
  slot
</template>

<script>
import {disableable} from './mixins/disableable';

export default {
  name: 'IvNote',

  mixins: [disableable],

  props: {
    text: {
      type: String,
      required: true,
    },
  },

  methods: {
    _onActivate(event) {
      if (!this.inactive) {
        this.$emit('onAct', event);
      }
    },

    onMouseEnter(event) {
      this._onActivate(event);
    },

    onTouchEnd(event) {
      event.stopPropagation();
      this._onActivate(event);
    },
  },
};
</script>

<style scoped lang="scss">
.iv-note {
  position: relative;
  display: inline;
  cursor: pointer;

  color: var(--interactive-color);

  background-image: linear-gradient(to right, var(--interactive-color) 50%, transparent 50%);
  background-position: 0 1.04em;
  background-repeat: repeat-x;
  background-size: 2px 1px;

  &.inactive {
    color: inherit;
    cursor: auto;
    background-image: inherit;
  }
}

.iv-note-content {
  position: absolute;
  display: table;
  top: 100%;
  left: 0;
  max-width: 25vw;
  padding: 0.3em;
  font-size: 90%;
  pointer-events: none;
  cursor: default;
  opacity: 0;
  color: var(--main-color);
  background-color: var(--secondary-color);
  border: 1px solid var(--border-color);
  box-shadow: 0px 0px 0.2em 0.2em var(--secondary-color);
  transition: 150ms linear all;
}

.iv-note:active:not(.inactive) .iv-note-content,
.iv-note:hover:not(.inactive) .iv-note-content {
  pointer-events: auto;
  opacity: 1;
  transition: 150ms linear all;
}
</style>
