<template lang="pug">
div.iv-passage(v-if="visible", v-iv-tags="tagSet", :data-name="name")
  h3.iv-passageHeader(v-if="game.displayPassageName", v-text="name")
  slot
</template>

<script>
import {named} from './mixins/named';
import {ivTags} from './directives/iv-tags';

export default {
  name: 'IvPassage',

  directives: {
    ivTags,
  },

  mixins: [named],

  props: {
    tags: {
      type: String,
      default: '',
    },
  },

  data() {
    return {
      chapter: null,
      theme: null,
      pristine: true, // to prevent firing onLeave when story is initiated
    };
  },

  computed: {
    visible() {
      if (this.game.mode === 'unfold') {
        return this.visibleUnfold();
      } else {
        return this.visibleWander();
      }
    },

    tagSet() {
      if (this.tags) {
        return this.tags.trim().split(' ').filter(tag => tag);
      } else {
        return null;
      }
    },
  },

  created() {
    this.game.validPassages.push(this.name);

    this.$on('onEnter', () => {
      this.game.theme = this.theme;
      if (this.chapter) {
        this.game.chapter = this.chapter;
      }
    });
  },

  mounted() {
    this.theme = this.$parent.theme;
    if (this.$parent.constructor.options.name === 'IvChapter') {
      this.chapter = this.$parent.name;
    }
  },

  methods: {
    visibleUnfold() {
      const result = this.game.history.includes(this.name);

      const payload = {
        name: this.name,
        tags: this.tagSet,
      };

      if (result && this.pristine) {
        this.$emit('onEnter', payload);
        this.pristine = false;
      } else if (!this.pristine) {
        this.$emit('onLeave', payload);
      }

      return result;
    },

    visibleWander() {
      let result = this.game.passage === this.name;

      const payload = {
        name: this.name,
        tags: this.tags,
      };

      if (result) {
        this.$emit('onEnter', payload);
        this.pristine = false;
      } else if (!this.pristine) {
        this.$emit('onLeave', payload);
      }

      return result;
    },
  },
};
</script>
