<template lang="pug">
div.iv-prefs.iv-t8n(:class="{open, }")
  button.iv-prefsButton.iv-t8n(type="button", @click="open = !open")
    font-awesome-icon(:icon="menuIcon")
  div.iv-prefsContainer(v-if="open", role="dialog")
    ul.iv-prefsList
      li(v-for="pref in prefs", :key="pref.key")
        iv-checkbox(v-model="preferences[pref.key]", :label="pref.label")
</template>

<script>
import IvCheckbox from './IvCheckbox';
import {iconed} from './mixins/iconed';
import {faBars, faTimes} from '@fortawesome/fontawesome-free-solid';

export default {
  name: 'IvPreferences',

  components: {
    IvCheckbox,
  },

  mixins: [iconed],


  data() {
    return {
      open: false,
    };
  },

  computed: {
    prefs() {
      const prefs = Object.keys(this.preferences).reduce(
        (result, prefKey) => {
          if (prefKey !== 'debug' && this.preferences[prefKey] !== null) {
            result.push({
              key: prefKey,
              label: this.translate(`pref_${prefKey}`),
            });
          }

          return result;
        },
        []
      );

      return prefs;
    },

    menuIcon() {
      return this.open ? faTimes : faBars;
    },
  },
};
</script>

<style scoped lang="scss">
.iv-prefs {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 3.5rem;
  height: 3.5rem;

  background-color: transparent;
  border: 1px solid transparent;

  &.open {
    top: 2rem;
    right: 2rem;
    width: calc(100vw - 4rem);
    height: calc(100vh - 4rem);
    background-color: var(--secondary-color);
  }

  &.open,
  &:hover {
    border: 1px solid var(--border-color);
  }

  &Button {
    position: absolute;
    top: 0rem;
    right: 0rem;
    width: 3.5rem;
    height: 3.5rem;
    vertical-align: middle;
    line-height: 3.5rem;
    font-size: 2rem;
    border-color: transparent;
    border-radius: 0;

    &:hover {
      color: var(--interactive-color2);
    }
  }

  &Container {
    padding-right: 4rem; // give place for button
  }

  &List {
    list-style-type: none;
  }
}
</style>
