<template lang="pug">
div.iv-story()
  h1(v-if="game.displayGameName", v-text="name")
  slot
</template>

<style>
@import './base.css';
@import './themes/iv.css';
@import './themes/overcast.css';
@import './themes/rust.css';
@import './themes/vampire.css';
</style>

<script>
import {named} from './mixins/named';
import {themed} from './mixins/themed';

export default {
  name: 'IvStory',

  mixins: [named, themed],

  props: {
    lang: {
      type: String,
      default: 'en',
    },

    titleTemplate: {
      type: [String, Function],
      default() {
        return '%s — ' + this.name;
      },
    },
  },

  mounted() {
    this.language = this.lang;
    this.game.goTo(this.game.startFrom);
  },

  metaInfo() {
    return {
      title: this.game.passage,
      titleTemplate: this.titleTemplate,
      htmlAttrs: {
        lang: this.lang,
        class: [this.game.theme, this.preferences.nightMode ? 'nightmode' : ''].join(' '),
      },
    };
  },
};
</script>

<style scoped>
.iv-story {
  margin: 2em 6rem 2em 2em;
}
</style>
